/*Sprite Image with Compass*/
/* line 136, icons/*.png */
.icons-sprite, .icons-close, .icons-left, .icons-like, .icons-plus, .icons-reply, .icons-right, .btn-reply:hover, .btn-reply, .btn-like:hover, .btn-like, .btn-close:hover, .btn-close, .btn-add:hover, .btn-add, .btn-prev .icon:hover, .btn-prev .icon, .btn-next .icon:hover, .btn-next .icon {
  background-image: url('/images/icons-s735f2068a5.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-close {
  background-position: 0 -34px;
  height: 24px;
  width: 24px;
}
/* line 59, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-close:hover, .icons-close.close-hover {
  background-position: 0 0;
}

/* line 84, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-left {
  background-position: 0 -110px;
  height: 32px;
  width: 32px;
}
/* line 59, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-left:hover, .icons-left.left-hover {
  background-position: 0 -68px;
}

/* line 84, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-like {
  background-position: 0 -202px;
  height: 40px;
  width: 40px;
}
/* line 59, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-like:hover, .icons-like.like-hover {
  background-position: 0 -152px;
}

/* line 84, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-plus {
  background-position: 0 -307px;
  height: 45px;
  width: 45px;
}
/* line 59, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-plus:hover, .icons-plus.plus-hover {
  background-position: 0 -252px;
}

/* line 84, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-reply {
  background-position: 0 -412px;
  height: 40px;
  width: 40px;
}
/* line 59, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-reply:hover, .icons-reply.reply-hover {
  background-position: 0 -362px;
}

/* line 84, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-right {
  background-position: 0 -504px;
  height: 32px;
  width: 32px;
}
/* line 59, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-right:hover, .icons-right.right-hover {
  background-position: 0 -462px;
}

/* line 1, partial/_core.scss */
span[class*="icon"] {
  display: inline-block;
  cursor: pointer;
}

/* line 5, partial/_core.scss */
.btn-reply {
  background-position: 0 -412px;
  height: 40px;
  width: 40px;
}
/* line 6, partial/_core.scss */
.btn-reply:hover {
  background-position: 0 -362px;
  height: 40px;
  width: 40px;
}
/* line 59, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.btn-reply:hover, .btn-reply.reply-hover {
  background-position: 0 -362px;
}

/* line 11, partial/_core.scss */
.btn-like {
  background-position: 0 -202px;
  height: 40px;
  width: 40px;
}
/* line 12, partial/_core.scss */
.btn-like:hover {
  background-position: 0 -152px;
  height: 40px;
  width: 40px;
}
/* line 59, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.btn-like:hover, .btn-like.like-hover {
  background-position: 0 -152px;
}

/* line 17, partial/_core.scss */
.btn-close {
  background-position: 0 -34px;
  height: 24px;
  width: 24px;
}
/* line 18, partial/_core.scss */
.btn-close:hover {
  background-position: 0 0;
  height: 24px;
  width: 24px;
}
/* line 59, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.btn-close:hover, .btn-close.close-hover {
  background-position: 0 0;
}

/* line 23, partial/_core.scss */
.btn-add {
  margin-left: 35px;
  background-position: 0 -307px;
  height: 45px;
  width: 45px;
}
/* line 25, partial/_core.scss */
.btn-add:hover {
  background-position: 0 -252px;
  height: 45px;
  width: 45px;
}
/* line 59, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.btn-add:hover, .btn-add.plus-hover {
  background-position: 0 -252px;
}

/* line 31, partial/_core.scss */
.btn-prev .icon {
  background-position: 0 -110px;
  height: 32px;
  width: 32px;
}
/* line 32, partial/_core.scss */
.btn-prev .icon:hover {
  background-position: 0 -68px;
  height: 32px;
  width: 32px;
}
/* line 59, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.btn-prev .icon:hover, .btn-prev .icon.left-hover {
  background-position: 0 -68px;
}

/* line 39, partial/_core.scss */
.btn-next .icon {
  background-position: 0 -504px;
  height: 32px;
  width: 32px;
}
/* line 40, partial/_core.scss */
.btn-next .icon:hover {
  background-position: 0 -462px;
  height: 32px;
  width: 32px;
}
/* line 59, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.btn-next .icon:hover, .btn-next .icon.right-hover {
  background-position: 0 -462px;
}

/* line 46, partial/_core.scss */
ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* line 53, partial/_core.scss */
.navbar-nav {
  overflow: hidden;
}
/* line 55, partial/_core.scss */
.navbar-nav li {
  float: left;
  margin-right: 10px;
  padding: 10px 0;
}
/* line 59, partial/_core.scss */
.navbar-nav li a {
  text-decoration: none;
  color: #333;
  font-weight: 700;
}
/* line 63, partial/_core.scss */
.navbar-nav li a:hover {
  text-decoration: underline;
  color: #57c15c;
}

/* line 72, partial/_core.scss */
.popup.hide {
  display: none;
}
/* line 75, partial/_core.scss */
.popup.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9;
}
/* line 84, partial/_core.scss */
.popup .content {
  padding: 10px;
  width: 350px;
  height: 220px;
  z-index: 10;
  top: 30%;
  left: 35%;
  position: fixed;
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
/* line 96, partial/_core.scss */
.popup .content .btn-close {
  float: right;
  margin-top: -14px;
  margin-right: -1px;
}
/* line 101, partial/_core.scss */
.popup .content h3 {
  margin: 10px 0 5px 0;
}
/* line 104, partial/_core.scss */
.popup .content .post-msg {
  height: 50px;
  overflow-y: scroll;
}
/* line 107, partial/_core.scss */
.popup .content .post-msg p {
  margin: 0;
  padding: 0;
}
/* line 112, partial/_core.scss */
.popup .content .text-header {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
/* line 118, partial/_core.scss */
.popup .content .text-content {
  height: 90px;
  width: 100%;
  padding: 3px 5px;
  box-sizing: border-box;
  resize: none;
}
/* line 125, partial/_core.scss */
.popup .content .align {
  text-align: right;
}
/* line 127, partial/_core.scss */
.popup .content .align .btn-comment,
.popup .content .align .btn-post {
  display: inline-block;
  cursor: pointer;
  width: 90px;
  padding: 5px;
  background: #333;
  border-radius: 2px;
  text-align: center;
  color: #fff;
  font-weight: 700;
}
/* line 138, partial/_core.scss */
.popup .content .align .btn-comment:hover,
.popup .content .align .btn-post:hover {
  background: #57c15c;
}

/* line 147, partial/_core.scss */
.profile {
  /*Slider*/
}
/* line 149, partial/_core.scss */
.profile-widge .heading {
  padding-bottom: 5px;
  border-bottom: 2px solid #333;
  color: #57c15c;
}
/* line 156, partial/_core.scss */
.profile-user {
  display: inline-block;
  width: 100%;
}
/* line 159, partial/_core.scss */
.profile-user:after {
  content: ' ';
  clear: both;
}
/* line 163, partial/_core.scss */
.profile-user .picture {
  float: left;
  width: 30%;
  margin: 0;
  padding: 0;
  text-align: center;
}
/* line 169, partial/_core.scss */
.profile-user .picture img {
  padding: 5px;
  border: 1px solid #e5e5e5;
}
/* line 174, partial/_core.scss */
.profile-user .user {
  float: left;
  width: 70%;
}
/* line 178, partial/_core.scss */
.profile-user .user .social li {
  text-align: center;
  float: left;
  width: 29%;
  background: #e5e5e5;
  margin-right: 2%;
}
/* line 184, partial/_core.scss */
.profile-user .user .social li .number {
  margin: 25px 0 0 0;
  color: #57c15c;
  font-weight: 700;
}
/* line 189, partial/_core.scss */
.profile-user .user .social li .text {
  margin: 0 0 10px 0;
}
/* line 198, partial/_core.scss */
.profile-post {
  display: inline-block;
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
}
/* line 203, partial/_core.scss */
.profile-post .slider {
  position: relative;
}
/* line 205, partial/_core.scss */
.profile-post .slider:after {
  content: ' ';
  clear: both;
}
/* line 210, partial/_core.scss */
.profile-post .btn-prev {
  position: absolute;
  top: 30%;
  left: -7px;
}
/* line 215, partial/_core.scss */
.profile-post .btn-next {
  position: absolute;
  top: 30%;
  right: -7px;
}
/* line 220, partial/_core.scss */
.profile-post .slider-inner {
  overflow: hidden;
  margin: 0 40px;
}
/* line 223, partial/_core.scss */
.profile-post .slider-inner:after {
  content: ' ';
  clear: both;
}
/* line 227, partial/_core.scss */
.profile-post .slider-inner .item {
  display: none;
}
/* line 229, partial/_core.scss */
.profile-post .slider-inner .item.current {
  display: block;
}
/* line 232, partial/_core.scss */
.profile-post .slider-inner .item .title {
  color: #57c15c;
  margin: 5px 0 0 0;
}
/* line 236, partial/_core.scss */
.profile-post .slider-inner .item .text {
  margin: 0;
}
/* line 239, partial/_core.scss */
.profile-post .slider-inner .item .social {
  text-align: right;
  margin-top: 10px;
}
/* line 242, partial/_core.scss */
.profile-post .slider-inner .item .social span {
  text-indent: -9999px;
}

/* line 4, main.scss */
html,
body {
  padding: 0;
  font-family: "Sans Serif", "Arial";
}

/* line 10, main.scss */
.container {
  margin: 0 auto;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
/* line 15, main.scss */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
/* line 22, main.scss */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
  /* Make the masthead heading the same height as the navigation */
}
/* line 27, main.scss */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
/* line 36, main.scss */
.footer {
  margin-top: 90px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* line 42, main.scss */
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
/* line 47, main.scss */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
/* line 51, main.scss */
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* line 59, main.scss */
  .container {
    max-width: 630px;
  }

  /* Remove the padding we set earlier */
  /* line 64, main.scss */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  /* line 70, main.scss */
  .header {
    margin-bottom: 30px;
  }
}

/*# sourceMappingURL=main.css.map */
