<div class="profile-widge">
  <h1 class="heading">Simple Profile Widget</h1>

  <!--Begin Profile User Information-->
  <div class="profile-user">
    <figure class="picture">
      <img src="{{profile.picture}}" alt="Profile Picture" width="120px" height="120px">
    </figure>
    <div class="user">
    	<h3 class="name">{{profile.name}}</h3>
    	<ul class="social">
    		<li>
    			<p class="number">{{totalPost}}</p>
    			<p class="text">Posts</p>
    		</li>
    		<li>
    			<p class="number">{{totalLike}}</p>
    			<p class="text">Likes</p>
    		</li>
    		<li>
    			<p class="number">{{totalComment}}</p>
    			<p class="text">Comments</p>
    		</li>
    	</ul>
    </div>
  </div>
  <!--End Profile User Information-->

  <!--Begin slider - The list of posts-->
  <div class="profile-post">
  	<div class="slider">
	  	<span class="btn-prev" ng-click="prev()">
	  		<span class="icon"></span>
	  	</span>
	  	<ul class="slider-inner">
	  		<li class="item {{item.id == 1 ? 'current' : ''}}" ng-repeat="item in profile.posts" data-index="{{item.id}}">
	  			<h3 class="title">{{item.title}}</h3>
	  			<p class="text">{{item.content}}</p>
	  			<div class="social">
	  				<span class="icon btn-reply" ng-click="showPopup(true, item.id)">&nbsp;</span>
	  				<span class="icon btn-like" ng-click="actionLike(item.id)">&nbsp;</span>
	  			</div>
	  		</li>
	  	</ul>
	  	<span class="btn-next" ng-click="next()">
	  		<span class="icon"></span>
	  	<span>
  	</div>
  	<span class="icon btn-add" ng-click="showPopup()">&nbsp;</span>
  </div>
  <!--End slider - The list of posts-->

  <!--Begin popup for create new post-->
  <div class="popup overlay hide" id="newcomment" ng-click="hidePopupByBodyClick($event)">
  	<div class="content">
  		<h3>New Comment <span class="icon btn-close" ng-click="hidePopup()">&nbsp;</span></h3>
  		<div class="post-msg"></div>
        <textarea ng-model="comment" placeholder="Please enter comment" class="text-content"></textarea>
        <p class="align"><span class="btn-comment" ng-click="actionComment($event)">Add</span></p>

  	</div>
  	</div>

  	<div class="popup overlay hide"  ng-click="hidePopupByBodyClick($event)" id="newpost">
  	<div class="content">
  		<h3>New Post <span class="icon btn-close" ng-click="hidePopup()">&nbsp;</span></h3>
  		<input ng-model="posttitle" placeholder="Please enter the post name" type="input" class="text-header"></input>
        <textarea ng-model="postcomment" placeholder="Please enter comment" class="text-content"></textarea>
        <p class="align"><span class="btn-post" ng-click="addPost()">Add</span></p>

  	</div>
  	</div>
  </div>
  <!--End popup for create new post-->

</div>